tmp/*
.idea/*
.idea/dataSources.ids
.idea/dataSources.xml
.idea/misc.xml
.idea/workspace.xml
.idea/development.log
.idea/.generators
.idea/.name
.idea/.rakeTasks
.idea/dataSources.ids
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/ptefinearts.com.iml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dataSources.xml
log/development.log
tmp/pids/server.pid
public/assets/
log/production.log
public/spree/homepage_images/1/default/1.jpg
public/spree/homepage_images/1/original/1.jpg
public/spree/homepage_images/1/thumb/1.jpg
public/spree/homepage_images/2/default/2.jpg
public/spree/homepage_images/2/original/2.jpg
public/spree/homepage_images/2/thumb/2.jpg
public/spree/homepage_images/3/default/3.jpg
public/spree/homepage_images/3/original/3.jpg
public/spree/homepage_images/3/thumb/3.jpg
public/spree/homepage_images/4/default/4.png
public/spree/homepage_images/4/original/4.png
public/spree/homepage_images/4/thumb/4.png
public/spree/homepage_images/5/default/1.jpg
public/spree/homepage_images/5/original/1.jpg
public/spree/homepage_images/5/thumb/1.jpg
public/spree/homepage_images/6/default/2.jpeg
public/spree/homepage_images/6/original/2.jpeg
public/spree/homepage_images/6/thumb/2.jpeg
public/spree/homepage_images/7/default/3.jpg
public/spree/homepage_images/7/original/3.jpg
public/spree/homepage_images/7/thumb/3.jpg
public/spree/homepage_images/8/default/1.jpg
public/spree/homepage_images/8/original/1.jpg
public/spree/homepage_images/8/thumb/1.jpg
public/spree/products/5/original/1.jpeg
public/spree/products/5/large/1.jpeg
public/spree/products/5/mini/1.jpeg
public/spree/products/5/product/1.jpeg
public/spree/products/5/small/1.jpeg
public/spree/products/6/large/2.jpg
public/spree/products/6/mini/2.jpg
public/spree/products/6/original/2.jpg
public/spree/products/6/product/2.jpg
public/spree/products/6/small/2.jpg
public/spree/products/7/large/3.jpg
public/spree/products/7/mini/3.jpg
public/spree/products/7/original/3.jpg
public/spree/products/7/product/3.jpg
public/spree/products/7/small/3.jpg
public/spree/products/8/large/4.jpg
public/spree/products/8/mini/4.jpg
public/spree/products/8/original/4.jpg
public/spree/products/8/product/4.jpg
public/spree/products/8/small/4.jpg
public/spree/products/10/large/2.jpg
public/spree/products/10/mini/2.jpg
public/spree/products/10/original/2.jpg
public/spree/products/10/product/2.jpg
public/spree/products/10/small/2.jpg
public/spree/products/11/large/3.jpg
public/spree/products/11/mini/3.jpg
public/spree/products/11/original/3.jpg
public/spree/products/11/product/3.jpg
public/spree/products/11/small/3.jpg
public/spree/products/12/large/4.jpg
public/spree/products/12/mini/4.jpg
public/spree/products/12/original/4.jpg
public/spree/products/12/product/4.jpg
public/spree/products/12/small/4.jpg
public/spree/products/9/large/1.jpg
public/spree/products/9/mini/1.jpg
public/spree/products/9/original/1.jpg
public/spree/products/9/product/1.jpg
public/spree/products/9/small/1.jpg
public/*
categories/86/banner/5.jpg
categories/86/original/5.jpg
categories/86/thumb/5.jpg