%h2
  = @product_group.name.titleize

- @values.each do |v|
  - if @values.count > 1
    %h3
      = v.titleize
  - @products = Spree::Variant.joins(:option_values).where("spree_option_values.name = ?", v).collect(&:product).uniq.sort_by{|e| e[:created_at]}.reverse
  = render :partial => 'products', :locals => { :products => @products, :taxon => @taxon }

