.banner
  .taxon_title
    %p= @taxon.name
  - if @taxon.image.try(:attachment?)
    = image_tag(@taxon.image.attachment.url(:banner) )

- unless @taxon.parent_id.nil?
  %div{"data-hook" => "taxon_products"}
    = render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon }

- unless params[:keyword].present?
  %div{"data-hook" => "taxon_children"}
    = render :partial => 'taxon', :collection => @taxon.children