@import 'bourbon';

body {
  background: url('/assets/background.jpg') top center no-repeat white;
  font-family: "bree-serif", sans-serif;
  .hidden {
    display: none;
  }
  a, a:hover {
    color: #CC3366 !important;;
  }

  h1, h2, h3, h4, h5, h6, p {
    color: #CC3366;
  }

  p {
    font-size: 14px;
  }
  .container {
    width: 98%;
    margin: 10px auto 0;
    #breadcrumbs {
      border: none;
      margin-left: -30px;
      ul {
        li {
          margin-right: 5px;
          color: #CC3366;
          a, a:hover {
            color: #CC3366 !important;;
          }
          &.Categories {
            display: none;
          }
        }
      }
    }
    #header {
      position: relative;
      height: 140px;
      width: 1400px;
      margin: 0 auto;
      #logo {
        img {
          left: 25px;
          z-index: 999;
          position: absolute;
          top: 5px;
        }
      }
      nav {
        &#top-nav-bar {
          width: 1268px;
          margin: 20px auto 0;
          ul {
            li {
              a, a:hover {
                color: #CC3366 !important;
                font-size: 12px;
                display: block;
                padding: 15px 7px 0 0;
              }
            }
          }
        }
        ul {
          &#main-nav-bar {
            border: none;
            position: absolute;
            top: 45px;
            left: 185px;
            width: 1080px;
            height: 53px;
            z-index: 99;
            li {
              width: 130px;
              height: 53px;
              margin-right: 5px;
              float: left;
              text-align: center;
              line-height: 57px;
              font-size: 12px;
              color: white;
              background: white;
              span {
                &.sf-sub-indicator {
                  background: url('/assets/lovelee_arrow_right.png') 5px 21px no-repeat;
                  background-size: 7px;
                  text-indent: -4000px;
                  @include inline-block;
                  width: 12px;
                }
              }
              a, a:hover {
                color: white !important;
                font-size: 12px;
              }
              &.home {
                background: url('/assets/buttons/menu_home.jpg')
              }
              &.new {
                background: url('/assets/buttons/menu_new.jpg')
              }
              &.apparel {
                background: url('/assets/buttons/menu_shoes.jpg')
              }
              &.shoes {
                background: url('/assets/buttons/menu_shoes.jpg')
              }
              &.swim {
                background: url('/assets/buttons/menu_swim.jpg')
              }
              &.sale {
                background: url('/assets/buttons/menu_sale.jpg')
              }
              &.accessories {
                background: url('/assets/buttons/menu_accessories.jpg')
              }
              &.contact {
                background: url('/assets/buttons/menu_contact.jpg')
              }
              > ul {
                > li {
                  background: white;
                  background-image: none;
                  border: 1px solid #ffaeb9;
                  border-top: none;
                  border-bottom: none;
                  width: 128px;
                  a, a:hover {
                    color: #CC3366 !important;
                  }
                  a:hover {
                    opacity: .6;
                  }
                }
              }
            }
          }
        }
      }
    }
    #wrapper {
      width: 964px;
      margin: 0 auto;
    }
  }
  footer {
    &#footer {
      margin: 30px 0 70px;
      border: none;
      width: 100%;
      .footer {
        width: 964px;
        margin: 0 auto;
        ul {
          &.left {
            float: left;
          }
          &.right {
            float: right;
            li {
              a, a:hover {
                text-transform: uppercase;
                color: #CC3366 !important;
                font-size: 12px;;
              }
            }
          }
          li {
            float: left;
            margin-right: 10px;
            color: #CC3366;
            font-size: 12px;
            a, a:hover {
              color: #CC3366 !important;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .ui-dialog {
    background: none;
    border: 0;
    padding: 0;
    overflow: visible;
    .ui-dialog-titlebar {
      background: none;
      border: 0;
      padding: 0;
    }
    .ui-dialog-titlebar-close {
      background: url('/assets/X.png') 0 0 no-repeat;
      width: 41px;
      height: 41px;
      z-index: 1;
      margin-left: -30px;
      left: 2px;
      display: block;
      text-indent: -4000px;
      top: 5px;
      &.ui-state-hover {
        border: 0;
      }
    }
    .ui-dialog-content {
      background: url('/assets/field_for_policies.jpg') 0 0 no-repeat;
      padding: 20px;
      height: 600px;
      a, a:focus {
        color: #00ADEE !important;
        outline: none;
        border: 0;
      }
    }
    .privacy_info {
      h3 {
        color: #fe0057;
        font-size: 16px;
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 10px;
      }
    }
  }
}

