body.home.index {
  @import 'bourbon';
  .flash {
    &.notice {
     display: none;
    }
  }
  .carwrapper {
    width: 964px;
    height: 506px;
    border: 1px solid #ffaeb9;
    margin-bottom: 10px;
    padding: 10px 0;
    .slider {
      width: 940px;
      height: 506px;
      position: relative;
      border: 1px solid #dfa18e;
      margin: 0 auto;
      input[type="button"] {
        display: none;
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          position: relative;
          width: 940px;
          @include inline-block;
          float: left;
          img {
            width: 940px;
            height: 506px;
          }
        }
      }
      .center-wrap {
        position: absolute;
        top: 0;
        right: 0;
        p {
          a {
            span {
              @include inline-block;
              background: url('/assets/carousel_sprite.jpg') 0 0 no-repeat;
              width: 27px;
              height: 26px;
              border: 1px solid white;
              margin-right: 10px;
              text-indent: -4000px;
              cursor: pointer;
            }
            &.active {
              span {
                background-position: 0 -31px;
              }
            }
          }
        }
      }
    }
  }

  .featured_images
    ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 266px;
    float: left;
    @include clearfix;
    margin-right: 10px;
    li {
      &.image {
        height: 310px;
        width: 247px;
        margin-bottom: 10px;
        border: 1px solid #ffaeb9;
        padding: 10px;
      }
      &.info {
        width: 248px;
        height: 20px;
        background: #ffacb5;
        text-align: right;
        padding: 10px;
        font-size: 14px;
        text-transform: capitalize;
        a, a:hover {
          color: #CC3366 !important;
        }
      }
    }
  }

  .shop {
    float: left;
    width: 135px;
    ul {
      width: 100px;
      margin: 0 auto;
      position: relative;
      li {
        margin: 20px 0;
        position: relative;
        &.drop {
          width: 90px;
          height: 15px;
          background: white;
          border: 1px solid #ffaeb9;
          color: #CC3366;
          font-size: 12px;
          padding: 5px;
        }
        ul {
          position: absolute;
          top: -21px;
          left: 110px;
          li {
            width: 90px;
            height: 15px;
            background: white;
            border: 1px solid #ffaeb9;
            color: #CC3366;
            font-size: 12px;
            padding: 5px;
          }
        }
      }
    }
  }
}
