@import 'bourbon';

body.products {
  &.show {
    #content {
      border: none !important;
      padding: 0 !important;
      .product {
        border: 1px solid #FFAEB9;
        padding: 10px;
        @include clearfix;
        p {
          &.back {
            background: white;
            padding: 10px 10px 10px 20px;
            float: left;
            @include clearfix;
            width: auto;
          }
        }
        .columns {
          margin: 10px 0;
          &.left {
            float: left;
            clear: left;
            width: 470px;
            #product-images {
              #main-image {
                border: 1px solid #FFAEB9;
                background: transparent;
                width: 455px;
                height: 687px;
                padding: 0;
                img {
                  width: 455px;
                  height: 687;
                }
              }
              #thumbnails {
                background: transparent;
                ul {
                  li {
                    border: 1px solid #FFAEB9;
                    margin-right: 0;
                    background: transparent;
                    height: 152px;
                    margin-right: 13px;
                    img {
                      padding: 0;
                    }
                    &.selected, &:hover {
                      border-color: #CC3366;
                    }

                  }
                }
              }
            }
          }
          &.right {
            width: 440px;
            float: right;
            border: 1px solid #FFAEB9;
            padding: 10px;
            background: white;
            h1 {
              color: #CC3366;
              font-size: 16px;
              text-transform: uppercase;
              border: none;
              margin-bottom: 5px;
            }
            #product-price {
              .selling {
                p {
                  font-size: 14px;
                  color: #CC3366;
                  padding: 0;
                }
              }
            }
            #product-variants {
              ul {
                li {
                  float: left;
                  padding: 5px 5px 5px 0;
                  input {
                    display: none;
                  }
                  label {
                    > span {
                      border: 1px solid #EF60A3;
                      padding: 5px;
                      width: 45px;
                      @include inline-block;
                      text-align: center;
                      background: white;
                      color: #EF60A3;
                      &.selected {
                        background: #EF60A3;
                        color: white;
                      }
                      span {
                        border: none;
                      }
                    }
                  }
                }
              }
            }
            .add-to-cart {
              clear: left;
              padding: 10px 0;
              button {
                background: url('/assets/buttons/add_to_cart.jpg') 0 0 no-repeat;
                border: none;
                font-weight: normal;
                width: 112px;
                height: 35px;
              }
            }
          }
        }
      }
    }
  }
}