%footer#footer
  .footer
    %ul.left
      %li
        Lovelee Boutique #{Time.now.year}
      %li
        = link_to "info@loveleeboutique.com", "mailto:info@loveleeboutique.com"
      %li
        646 399 8685

    %ul.right
      %li
        = link_to "Privacy Policy", "#", :class => "privacy"
        .privacy_info.hidden
          %h3 Privacy Policy:
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet massa id nulla sollicitudin vulputate. Fusce porttitor quam vel lacus euismod id consectetur risus adipiscing. Nullam consectetur nisl ac tellus convallis interdum. Curabitur mattis tortor at erat sagittis in consectetur dolor dignissim. Sed ut nisi arcu, in vulputate mi. Etiam malesuada porta eros vel rhoncus. Aenean mattis iaculis condimentum. Duis pellentesque metus eget odio suscipit sit amet aliquet quam volutpat. Integer interdum arcu sed lacus aliquet accumsan. Morbi facilisis arcu eu neque commodo eget ornare mi vestibulum.
          %h3 Refund Policy
          %p
            Phasellus leo mi, lacinia sed adipiscing iaculis, elementum eget ipsum. Fusce laoreet justo nec sapien aliquet accumsan. Duis at elit sit amet erat fermentum laoreet. In porttitor metus eget lorem accumsan commodo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quis justo turpis. Nulla lacinia viverra ante, non mollis eros aliquet non. Cras massa magna, elementum sed consequat eget, tristique eu velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec purus quis nisi imperdiet semper.
      %li
        = link_to "Refund Policy", "#", :class => "refund"
