.carousel_wrapper
  .carousel

.featured_images
  %ul
    %li.image
    %li.info

  %ul
    %li.image
    %li.info

  %ul
    %li.image
    %li.info

.shop
  %ul
    %li
      = image_tag('/assets/shop_by_size.png')
    %li
      = select_tag "select"
    %li
      = image_tag('/assets/shop_by_color.png')
    %li
      = select_tag "select"