.banner
  .taxon_title
    %p New
  - if @new_image.present?
    = image_tag(@new_image)

- unless params[:keyword].present?
  %div{"data-hook" => "taxon_children"}
    = render :partial => 'taxon', :collection => @taxon.children